<div class="presentation-container" [ngStyle]="{'background-image': 'url(' + backgroundImageUrl + ')'}">
    <div *ngIf="!emptyScreen && currentVerse" class="verse">
        <div *ngFor="let line of currentVerse.lines" class="line" [ngStyle]="{'font-size': songFontSize + 'px'}">
            {{ line }}
        </div>
    </div>
    <div *ngIf="!emptyScreen && currentBiblePassage" class="passage">
        <p class="bible-verse" [ngStyle]="{'font-size': bibleFontSize + 'px'}">
            {{ currentBiblePassage.text }}
        </p>
    </div>
</div>