.presentation-container {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    color: white;
}

.verse, .passage {
    margin-top: 5vh;
    height: 95vh;
    padding: 0 10px 0 10px;
}

.line,
.bible-verse {
    text-align: center;
    margin-bottom: 0.5em;
    line-height: 1.5em;
}

.bible-verse {
    margin-bottom: 0 !important;
    padding: 0 10px 0 10px;
}