.presentation-container {
    background-color: black;
    height: 100vh;
}

.presentation-container {
    display: flex;
    justify-content: center;
    color: white;
}

.verse, .passage {
    margin-top: 5vh;
    height: 95vh;
    padding: 0 10px 0 10px;
}

.line,
.bible-verse {
    line-height: initial;
    text-align: center;
    margin-bottom: 60px;
}

.bible-verse {
    margin-bottom: 0 !important;
    padding: 0 10px 0 10px;
    line-height: 1.5em;
}