@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
    --surface-ground: #111827; 
}

html {
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--surface-ground) !important;
    font-family: 'Poppins', sans-serif;
}

// Scroball styles
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--surface-ground);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(122, 122, 122);
    transition: .5s ease-in-out all;
  }