.presentation-container {
    background-color: black;
    height: 100vh;
}

.presentation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.line {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 90px;
}