.presentation-container {
    background-color: black;
    height: 100vh;
}

.presentation-container {
    display: flex;
    justify-content: center;
    color: white;
}

.verse {
    margin-top: 5vh;
}

.line {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 90px;
}