<div class="container">
    <div class="presentation-buttons">
        <button mat-flat-button (click)="setBlackScreen()" class="black-screen-btn"></button>
        <button class="{{isPresentationLive ? 'ongoing-presentation-btn' : 'live-btn'}}" mat-mini-fab
            (click)="displayVerse(currentDisplayedSong.verses[0]); isPresentationLive ? terminatePresentation() : startPresentation()"
            class="live-btn">
            <mat-icon fontIcon="videocam"></mat-icon>
        </button>
    </div>
    <div class="pre-presentation-container">
        <div *ngIf="currentDisplayedSong">
            <div *ngFor="let verse of currentDisplayedSong!.verses; let i = index" (click)="displayVerse(verse)"
                class="verse-container">
                <p *ngFor="let line of verse!.lines">{{ line }}</p>
            </div>
        </div>
    </div>
    <div class="live-presentation-container">
        <div *ngIf="currentDisplayedVerse && presentationConnection">
            <p *ngFor="let line of currentDisplayedVerse.lines">{{ line }}</p>
        </div>
    </div>
</div>