.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pre-presentation-container,
.live-presentation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    overflow-y: auto;
    padding: 30px;
}

.live-presentation-container {
    flex: 1;
    background-color: black;
    color: white;
    justify-content: center;
}

.pre-presentation-container {
    flex: 1.5;
}

.verse-container:nth-child(0) {
    font-weight: bold;
}

.verse-container {
    margin-bottom: 30px;
    cursor: pointer;
}

.presentation-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.black-screen-btn {
    background-color: #000000 !important;
    color: rgb(253, 250, 250) !important;
    width: 30px;
    height: 20px;
    min-width: unset !important;
    margin-right: 10px;
}

.ongoing-presentation-btn {
    background-color: #56060e !important;
    color: rgb(197, 190, 190);
}

.live-btn {
    background-color: #fa0019;
    color: rgb(253, 250, 250);
}