<div class="container">
    <div class="presentation-buttons">
        <select class="font-size-select" [formControl]="fontSizeInput">
            <option *ngFor="let font of fontSizeOptions" [value]="font.value">{{font.viewValue}}
            </option>
        </select>
        <mat-icon class="decrease-font-size-icon" (click)="decreaseFontSize()" data-testid="decreaseFontSizeBtn">
            text_decrease</mat-icon>
        <mat-icon class="increase-font-size-icon" (click)="increaseFontSize()" data-testid="increaseFontSizeBtn">
            text_increase</mat-icon>
        <mat-icon class="delete-icon" (click)="removePresentationItem()" data-testid="removePresentationItemBtn">delete
        </mat-icon>
        <button mat-flat-button (click)="setBlackScreen()" class="black-screen-btn"
            data-testid="blackScreenBtn"></button>
        <button class="{{isPresentationLive ? 'ongoing-presentation-btn' : 'live-btn'}}" mat-mini-fab
            (click)="isPresentationLive ? terminatePresentation() : startPresentation()" class="live-btn"
            data-testid="presentBtn">
            <mat-icon fontIcon="videocam"></mat-icon>
        </button>
    </div>
    <div class="pre-presentation-container">
        <div *ngIf="currentDisplayedSong">
            <mat-button-toggle-group name="currentDisplayedSong" class="toggle-container">
                <mat-button-toggle *ngFor="let verse of currentDisplayedSong!.verses; let i = index"
                    (click)="displayVerse(verse)" class="verse-container" data-testid="displayVerseBtn">
                    <p *ngFor="let line of verse!.lines">{{ line }}</p>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div *ngIf="currentDisplayedBiblePassage">
            <mat-button-toggle-group name="currentDisplayedBiblePassage" class="toggle-container">
                <mat-button-toggle *ngFor="let slide of currentDisplayedBiblePassage" class="slide"
                    data-testid="displayPassageBtn">
                    <p (click)="displayPassage(slide)">{{ slide.text }}</p>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="live-presentation-container">
        <div *ngIf="currentDisplayedVerse && !currentDisplayedPassage && presentationConnection">
            <p *ngFor="let line of currentDisplayedVerse.lines">{{ line }}</p>
        </div>
        <div *ngIf="currentDisplayedPassage && !currentDisplayedVerse && presentationConnection">
            <p>{{ currentDisplayedPassage.text }}</p>
        </div>
    </div>
</div>