.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

.pre-presentation-container,
.live-presentation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    overflow-y: auto;
    padding: 0 80px 0 80px;
}

.pre-presentation-container {
    flex: 2;
    width: 100%;
}

.presentation-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    width: 100%;
}

.font-size-select {
    height: 40px;
    width: 75px;
    padding: 10px;
    margin-right: 10px;
    border: none;
    color: #555555;
    outline: none;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}

.black-screen-btn {
    background-color: #000000 !important;
    color: rgb(253, 250, 250) !important;
    width: 30px;
    height: 20px;
    min-width: unset !important;
    margin-right: 10px;
}

.ongoing-presentation-btn {
    background-color: #56060e !important;
    color: rgb(197, 190, 190);
}

.live-btn {
    background-color: #fa0019;
    color: rgb(253, 250, 250);
}

.decrease-font-size-icon,
.increase-font-size-icon,
.delete-icon {
    color: #555555;
    transform: scale(1);
    cursor: pointer;
    margin-right: 10px;
}

.decrease-font-size-icon,
.increase-font-size-icon {
    color: #858585;
}

.select-icon {
    color: #555555;
    margin-right: 10px;
    transform: scale(.9);
}

.live-presentation-container {
    flex: 1;
    background-color: black;
    color: white;
    padding-top: 25px;
    width: 80%;
}

.live-presentation-container div p {
    line-height: 35px;
}

.toggle-container, 
.verse-container {
    display: flex;
    flex-direction: column;
}

.verse-container {
    margin-bottom: 10px;
    cursor: pointer;
}

.verse-container p {
    font-size: 13px;
    padding-top: 5px;
    line-height: 8px;
}

.slide {
    margin-bottom: 25px;
}

.slide p {
    font-size: 13px;
    line-height: 18px;
}

.mat-button-toggle-group, 
.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
    border: none !important;    
}

.mat-button-toggle {
    white-space: pre-wrap !important;
}

.slide p {
    margin-bottom: 0 !important;
}